body{
    background-image: url('../../images/tablebg.jpg');
    color: black;
}

.cardsImage{
 width:90px;
 align-content:flex-end;
 margin-left: -5px;
}
.container{
    position:fixed;
    bottom:8px;
    left:10%;
}
.boxCards{
    width: 100px;
    position: fixed;
    top: 38%;
    left: 40%;
}
.second_boxCards{
    width: 100px;
    position: fixed;
    top: 33%;
    left: 35%;
    transform:          rotate(270deg);
    -ms-transform:      rotate(270deg);
    -moz-transform:     rotate(270deg);
    -webkit-transform:  rotate(270deg);
    -o-transform:       rotate(270deg);
}
.third_boxCards{
    width: 100px;
    position: fixed;
    top: 25%;
    left: 40%;
}
.fourth_boxCards{
    width: 100px;
    position: fixed;
    top: 33%;
    left: 45%;
    transform:          rotate(270deg);
    -ms-transform:      rotate(270deg);
    -moz-transform:     rotate(270deg);
    -webkit-transform:  rotate(270deg);
    -o-transform:       rotate(270deg);
}


.Connected{
width: 150px;
height: 150px;
margin-left: 10px;
margin-top: 10px;
}
.lobby{
    position: fixed;
    top:20%;
    width: 50%;
    height: 70%;
    left: 25%;
    border-radius: 20px;
    font-family: 'Times New Roman', Times, serif;
    background-color: lightgrey;
}

.startGame{
position: fixed;
top: 80%;
left: 40%;
}

