body{
    background-image: url('../../images/tablebg.jpg');
    color: black;
}

.cardsImage{
 width:90px;
 align-content:flex-end;
 margin-left: -4.5%;
}

.cardsImageThreePlayer{
    width:90px;
    left: 100px;
    align-content:flex-end;
    margin-left: -4.5%;
   }
.cardsImageFourPlayer{
    width:90px;
    left: 100px;
    align-content:flex-end;
    margin-left: -1.5%;
} 
.sendCards_from_given_cards{
    /* width: 100px; */
    position: fixed;
    top: 70%;
    left:18%; 
    transition: 0.6s ease;
}

.sendCards_Three_players{
    position: fixed;
    top: 70%;
    left:18%; 
    transition: 0.6s ease; 
}
.sendCards_Four_players{
    position: fixed;
    top: 70%;
    left:30%; 
    transition: 0.6s ease; 
}

.container{
    margin-top: 19%;
    margin-left: 8%;
    z-index: 1;
}
.containerThreePlayer{
    margin-top: 19%;
    margin-left: 22%;
    z-index: 1;
}
.containerFourPlayer{
    margin-top: 19%;
    margin-left: 14%;
    z-index: 1;
}
.passNewCard{
    width: 100px;
}
.boxCards{
    width: 100px;
    position: fixed;
    top: 38%;
    left: 40%;
}
.second_boxCards{
    width: 100px;
    position: fixed;
    top: 33%;
    left: 35%;
    transform:          rotate(270deg);
    -ms-transform:      rotate(270deg);
    -moz-transform:     rotate(270deg);
    -webkit-transform:  rotate(270deg);
    -o-transform:       rotate(270deg);
}
.third_boxCards{
    width: 100px;
    position: fixed;
    top: 25%;
    left: 40%;
}
.fourth_boxCards{
    width: 100px;
    position: fixed;
    top: 33%;
    left: 45%;
    transform:          rotate(270deg);
    -ms-transform:      rotate(270deg);
    -moz-transform:     rotate(270deg);
    -webkit-transform:  rotate(270deg);
    -o-transform:       rotate(270deg);
}
/* .senCards_from_given_cards{
    position: fixed;
    left: 10%;
    top: 20%;
} */

.Connected{
width: 150px;
height: 150px;
margin-left: 10px;
margin-top: 10px;
}
.lobby{
    position: fixed;
    top:20%;
    width: 50%;
    height: 70%;
    left: 25%;
    border-radius: 20px;
    font-family: 'Times New Roman', Times, serif;
    background-color: lightgrey;
}

.startGame{
position: fixed;
top: 80%;
left: 40%;
}

