body{
    background-color: #5cdb94;
    color: black;
}

.animate__fadeInBottomRight{
 width:90px;
 align-content:flex-end;
 margin-left: -4.5%;
}
.animate__hinge{
    position: fixed;
    left: 50%;
    top:13%
}

.cardsImageThreePlayer{
    width:90px;
    left: 100px;
    align-content:flex-end;
    margin-left: -4.5%;
   }
   /* animate__animated animate__fadeOutRight */
.animate__fadeOutBottomRight{
    width:90px;
    left: 100px;
    align-content:flex-end;
    margin-left: -4.5%;
}


.cardsImageFourPlayer{
    width:90px;
    left: 100px;
    align-content:flex-end;
    margin-left: -1.5%;
} 
.sendCards_from_given_cards{
    /* width: 100px; */
    position: fixed;
    top: 60%;
    left:18%; 
    transition: 0.6s ease;
}

.sendCards_Three_players{
    position: absolute;
    top: 70%;
    left:18%; 
    transition: 0.6s ease; 
}
.sendCards_Four_players{
    position: fixed;
    top: 70%;
    left:30%; 
    transition: 0.6s ease; 
}

.container{
    margin-top: 12%;
    margin-left: 8%;

}
.containerThreePlayer{
    margin-top: 23%;
    margin-left: 22%;
}

.containerFourPlayer{
    margin-top: 23%;    
    margin-left: 14%;
}
.passNewCard{
    width: 100px;
}
.boxCards{
    width: 100px;
    position: fixed;
    top: 38%;
    left: 40%;
}
.second_boxCards{
    width: 100px;
    position: fixed;
    top: 33%;
    left: 35%;
    transform:          rotate(270deg);
    -ms-transform:      rotate(270deg);
    -moz-transform:     rotate(270deg);
    -webkit-transform:  rotate(270deg);
    -o-transform:       rotate(270deg);
}
.third_boxCards{
    width: 100px;
    position: fixed;
    top: 25%;
    left: 40%;
}
.fourth_boxCards{
    width: 100px;
    position: fixed;
    top: 33%;
    left: 45%;
    transform:          rotate(270deg);
    -ms-transform:      rotate(270deg);
    -moz-transform:     rotate(270deg);
    -webkit-transform:  rotate(270deg);
    -o-transform:       rotate(270deg);
}
.lobby{
    position: fixed;
    top:20%;
    width: 50%;
    height: 70%;
    left: 25%;
    border-radius: 20px;
    font-family: 'Times New Roman', Times, serif;
    background-color: lightgrey;
}

.startGame{
position: fixed;
top: 80%;
left: 40%;
}

/* connected table */
.Connected_table{ 
   list-style: none;
    width: 200px;
    height: 130px;
    margin-left: 10px;
    margin-top: 10px;
    text-align: left;
    color: #05396B;
    font-family: 'Luckiest Guy', cursive;
    text-transform: capitalize;
    /* border: 1px solid #EDF5E0; */
    border-radius: 10%;
}

#user{
   text-transform: capitalize;
   font-family: 'Luckiest Guy', cursive;
   position: fixed;
   color: #05396B;
   margin-left: 84%;
   list-style-type:none;
}
.animate__backInLeft{
    width: 100px;
}
